@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "navbar.scss";
@import "masthead.scss";
@import "services.scss";
@import "portfolio.scss";
@import "bootstrap-overrides.scss";

.img-crop {
    height: 500px;
}

.portfolio-box {
    margin-bottom: 20px;
    margin-top: 20px;
}

#contact {
    margin-bottom: 500px;
}

.ba-heading {
    text-align: center;
    margin-top: 20px;
}
